@model IEnumerable<DressStore.Models.OrderHeader>

@{
    Layout = "_AdminLayout";
}

<!doctype html>
<html lang="en">

<body>
    <!-- pre-loader -->
    <div class="preloader">
        <img src="~/images/logo-dark.svg" alt="logo">
        <div class="preloader-icon"></div>
    </div>
    <!-- layout-wrapper -->
    <!-- header -->
    <div class="header">
        <div class="menu-toggle-btn">
            <!-- Menu close button for mobile devices -->
            <a href="#">
                <i class="bi bi-list"></i>
            </a>
        </div>
        <!-- Logo -->
        <a href="index.html" class="logo">
            <img width="100" src="~/images/logo-dark.svg" alt="logo">
        </a>
        <!-- ./ Logo -->
        <div class="page-title">Overview</div>
        <form class="search-form">
            <div class="input-group">
                <button class="btn btn-outline-light" type="button" id="button-addon1">
                    <i class="bi bi-search"></i>
                </button>
                <input type="text" class="form-control" placeholder="Search..."
                       aria-label="Example text with button addon" aria-describedby="button-addon1">
                <a href="#" class="btn btn-outline-light close-header-search-bar">
                    <i class="bi bi-x"></i>
                </a>
            </div>
        </form>
        <div class="header-bar ms-auto">
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link nav-link-notify" >
                        <i class="bi bi-cart2 icon-lg"></i>
                    </a>
                </li>
                <li class="nav-item ms-3">
                    <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> Add Product
                    </a>
                </li>
            </ul>
        </div>
        <!-- Header mobile buttons -->
        <div class="header-mobile-buttons">
            <a href="#" class="search-bar-btn">
                <i class="bi bi-search"></i>
            </a>
            <a href="#" class="actions-btn">
                <i class="bi bi-three-dots"></i>
            </a>
        </div>
        <!-- ./ Header mobile buttons -->
    </div>
    <!-- ./ header -->
    <!-- content -->
    <div class="content ">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-lg-7 col-md-12">
                <div class="card widget h-100">
                    <div class="card-header d-flex">
                        <h6 class="card-title">
                            Sales Chart
                            <a href="#" class="bi bi-question-circle ms-1 small" data-bs-toggle="tooltip"
                               title="Daily orders and sales"></a>
                        </h6>
                        <div class="d-flex gap-3 align-items-center ms-auto">
                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown" class="btn btn-sm" aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="bi bi-three-dots"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="#" class="dropdown-item">View Detail</a>
                                    <a href="#" class="dropdown-item">Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-md-flex align-items-center mb-3">
                            <div class="d-flex align-items-center">
                                <div class="display-7 me-3">
                                    <i class="bi bi-bag-check me-2 text-success"></i> @ViewBag.OrderTotal INR
                                </div>
                                <span class="text-success">
                                    <i class="bi bi-arrow-up me-1 small"></i>8.30%
                                </span>
                            </div>
                            
                        </div>
                        <div id="curve_chart" style="width: 500px; height: 300px;></div>
                        <div class="d-flex justify-content-center gap-4 align-items-center ms-auto mt-3 mt-lg-0">
                            <div>
                                <i class="bi bi-circle-fill mr-2 text-primary me-1 small"></i>
                                <span>Sales</span>
                            </div>
                            <div>
                                <i class="bi bi-circle-fill mr-2 text-success me-1 small"></i>
                                <span>Order</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="card widget h-100">
                    <div class="card-header d-flex">
                        <h6 class="card-title">
                            Channels
                            <a href="#" class="bi bi-question-circle ms-1 small" data-bs-toggle="tooltip"
                               title="Channels where your products are sold"></a>
                        </h6>
                        <div class="d-flex gap-3 align-items-center ms-auto">
                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown" class="btn btn-sm" aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="bi bi-three-dots"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="#" class="dropdown-item">View Detail</a>
                                    <a href="#" class="dropdown-item">Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="donutchart" style="width: 500px; height: 300px;></div>
                        <div class="text-center">
                            <button class="btn btn-outline-primary btn-icon">
                                <i class="bi bi-download"></i> Download Report
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex mb-3">
                            <div class="display-7">
                                <i class="bi bi-basket"></i>
                            </div>
                            <div class="dropdown ms-auto">
                                <a href="#" data-bs-toggle="dropdown" class="btn btn-sm" aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="bi bi-three-dots"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="#" class="dropdown-item">View Detail</a>
                                    <a href="#" class="dropdown-item">Download</a>
                                </div>
                            </div>
                        </div>
                        <h4 class="mb-3">Orders</h4>
                        <div class="d-flex mb-3">
                            <div class="display-7">@ViewBag.OrderCount</div>
                            <div class="ms-auto" id="total-orders"></div>
                        </div>
                        <div class="text-success">
                            Over last month 1.4% <i class="small bi bi-arrow-up"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex mb-3">
                            <div class="display-7">
                                <i class="bi bi-credit-card-2-front"></i>
                            </div>
                            <div class="dropdown ms-auto">
                                <a href="#" data-bs-toggle="dropdown" class="btn btn-sm" aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="bi bi-three-dots"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="#" class="dropdown-item">View Detail</a>
                                    <a href="#" class="dropdown-item">Download</a>
                                </div>
                            </div>
                        </div>
                        <h4 class="mb-3">Sales</h4>
                        <div class="d-flex mb-3">
                            <div class="display-7">@ViewBag.OrderTotal INR</div>
                            <div class="ms-auto" id="total-sales"></div>
                        </div>
                        <div class="text-danger">
                            Over last month 2.4% <i class="small bi bi-arrow-down"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="card widget">
                    <div class="card-header">
                        <h5 class="card-title">Activity Overview</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card border-0">
                                <div class="card-body text-center">
                                    <div class="display-5">
                                        <i class="bi bi-truck text-secondary"></i>
                                    </div>
                                    <h5 class="my-3">Shipped</h5>
                                    <div class="text-muted">@ViewBag.ShippedCount Orders</div>
                                    <div class="progress mt-3" style="height: 5px">
                                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 25%"
                                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card border-0">
                                <div class="card-body text-center">
                                    <div class="display-5">
                                        <i class="bi bi-receipt text-warning"></i>
                                    </div>
                                    <h5 class="my-3">Approved</h5>
                                    <div class="text-muted">@ViewBag.ApprovedCount New Orders</div>
                                    <div class="progress mt-3" style="height: 5px">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 67%"
                                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card border-0">
                                <div class="card-body text-center">
                                    <div class="display-5">
                                        <i class="bi bi-receipt text-warning"></i>
                                    </div>
                                    <h5 class="my-3">Cancelled</h5>
                                    <div class="text-muted">@ViewBag.CancelledCount Orders Cancelled</div>
                                    <div class="progress mt-3" style="height: 5px">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card border-0">
                                <div class="card-body text-center">
                                    <div class="display-5">
                                        <i class="bi bi-cursor text-success"></i>
                                    </div>
                                    <h5 class="my-3">Pending</h5>
                                    <div class="text-muted">@ViewBag.PendingCount Pending Payments</div>
                                    <div class="progress mt-3" style="height: 5px">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 55%"
                                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <br />
        <br />
        <div style="text-align:center;">
            <h1 style="display:inline-block;">Sales Report</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <form method="POST" asp-controller="Dashboard" asp-action="GeneratePDF">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="startDate">Start Date:</label>
                                <input type="date" id="startDate" name="startDate" class="form-control" required>
                            </div>
                            <div class="col-md-6">
                                <label for="endDate">End Date:</label>
                                <input type="date" id="endDate" name="endDate" class="form-control" required>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Generate PDF</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ./ content -->
    <!-- content-footer -->
    <footer class="content-footer">
        <div>© 2021 VENDOR - <a href="https://laborasyon.com/" target="_blank">Alwin</a></div>
        <div>
            <nav class="nav gap-4">
                <a href="https://themeforest.net/licenses/standard" class="nav-link">Licenses</a>
                <a href="#" class="nav-link">Change Log</a>
                <a href="#" class="nav-link">Get Help</a>
            </nav>
        </div>
    </footer>
    <!-- ./ content-footer -->
    <!-- ./ layout-wrapper -->
    <!-- Bundle scripts -->
    <script src="~/dashboard/vetra/libs/bundle.js"></script>

    <!-- Apex chart -->
    <script src="~/dashboard/vetra/libs/charts/apex/apexcharts.min.js"></script>

    <!-- Slick -->
    <script src="~/dashboard/vetra/libs/slick/slick.min.js"></script>

    <!-- Examples -->
    <script src="~/dashboard/vetra/dist/js/examples/dashboard.js"></script>

    <!-- Main Javascript file -->
    <script src="~/dashboard/vetra/dist/js/app.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Orders', 'Count'],
                ['Shipped', @ViewBag.ShippedCount],
                ['Approved', @ViewBag.ApprovedCount],
                ['Pending', @ViewBag.PendingCount]
            ]);

            var options = {
                title: 'Order Status',
                pieHole: 0.4,
                
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
        }
    </script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        let week1 = @ViewBag.ApprovedCountWeek4
        let week2 = @ViewBag.ApprovedCountWeek3
        let week3 = @ViewBag.ApprovedCountWeek2
        let week4 = @ViewBag.ApprovedCountWeek1


                function drawChart() {
            
            const data = google.visualization.arrayToDataTable([
                ['Week', 'Orders'],
                ['Week 1', week1],
                ['Week 2', week2],
                ['Week 3', week3],
                ['Week 4', week4]
            ]);
            var options = {
                title: 'Last 4 weeks Performance',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }
    </script>

</body>

</html>
