@model ShoppingCartVM

    <!-- hero -->
<section>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Checkout</h1>
            </div>
        </div>
    </div>
</section>

<form method="post">
    <section class="no-overflow pt-0">
        <div class="container">
            <div class="row gutter-4 justify-content-between">


                <div class="col-lg-8">

                    <!-- delivery -->
                    <div class="row align-items-end mb-2">
                        <div class="col-md-6">
                            <h2 class="h3 mb-0"><span class="text-muted">01.</span> Address</h2>
                        </div>
                        <div class="col-md-6 text-md-right">
                            <a class="eyebrow unedrline action" data-toggle="modal" data-target="#addresses">My Addresses</a>
                        </div>
                    </div>
                    <div class="row gutter-1 mb-6">
                        <div class="form-group col-md-6">
                            <label for="firstName">First Name</label>
                            <input asp-for="OrderHeader.FirstName" type="text" class="form-control" id="firstName" placeholder="">
                            <span asp-validation-for="OrderHeader.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Last Name</label>
                            <input asp-for="OrderHeader.LastName"type="text" class="form-control" id="lastName" placeholder="">
                            <span asp-validation-for="OrderHeader.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label for="PhoneNumber">Phone Number</label>
                            <input asp-for="OrderHeader.phoneNumber" type=" text" class="form-control" id="PhoneNumber" placeholder="">
                            <span asp-validation-for="OrderHeader.phoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="State">State</label>
                            <select asp-for="OrderHeader.State" class="form-control" id="state">
                                <option value="">  Select your state : </option>
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="West Bengal">West Bengal</option>

                            </select>
                            <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="city">City</label>
                            <input asp-for="OrderHeader.City" type="text" class="form-control" id="city" placeholder="">
                            <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="postcode">Postcode</label>
                            <input asp-for="OrderHeader.PostalCode" type="text" class="form-control" id="postcode" placeholder="">
                            <span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="address">Address</label>
                            <input asp-for="OrderHeader.StreetAddress" type="text" class="form-control" id="address" placeholder="">
                            <span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row align-items-end mb-2">
                        <div class="col-md-6">
                            <h2 class="h3 mb-0"><span class="text-muted"><i class="bi bi-wallet2"></i></span> Wallet</h2>
                        </div>
                        <div class="col-md-6 text-md-right">
                            <h2 class="h3 mb-0"><span>@Model.ApplicationUser.wallet.ToString("c")</span></h2>
                        </div>
                    </div>

                </div>


                <aside class="col-lg-4">
                    <div class="row">

                        <!-- order preview -->
                        <div class="col-12">
                            <div class="card card-data bg-light">
                                <div class="card-header py-2 px-3">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h3 class="fs-18 mb-0">Your Cart</h3>
                                        </div>
                                        <div class="col text-right">
                                            <a href="cart.html" class="underline eyebrow">Edit</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-line">
                                        @foreach(var item in Model.ShoppingCartList)
                                        {
                                            <li class="list-group-item d-flex justify-content-between text-dark align-items-center">
                                                @item.Product.Title X @item.Count
                                                <span>@item.Price.ToString("c") X @item.Count</span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- order summary -->
                        <div class="col-12 mt-1">
                            <div class="card card-data bg-light">
                                <div class="card-header py-2 px-3">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h3 class="fs-18 mb-0">Order Summary</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-minimal">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Subtotal
                                            <span>@Model.OrderHeader.OrderTotal.ToString("c")</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Shipping
                                            <span>Free</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <input id="couponInput" asp-for="OrderHeader.CouponCode" class="form-control" aria-required="true" placeholder="Coupon" />
                                            <a id="applyCouponButton" class="eyebrow underline action">Check</a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Coupon Discount
                                            <span id="newTotal">@*@ViewBag.reducedAmount*@</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-footer py-2">
                                    <ul class="list-group list-group-minimal">
                                        <li class="list-group-item d-flex justify-content-between align-items-center text-dark fs-18">
                                            Total

                                            <span id="discountPrice"> </span>
                                            @*@if (ViewBag.DiscountPrice != null)
                                            {
                                                <span id="discountPrice">@ViewBag.DiscountPrice</span>
                                            }
                                            else
                                            {
                                                <span>@Model.OrderHeader.OrderTotal.ToString("c")</span>
                                            }  *@                  
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- place order -->
                        <div class="col-12 mt-1">
                            <button type="submit" class="btn btn-primary btn-lg btn-block"> Place Order </button>
                        </div>

                    </div>
                </aside>

            </div>
        </div>
    </section>
</form>
@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}

<script src="~/js/vendor.min.js"></script>
<script src="~/js/app.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $("#applyCouponButton").click(function () {
            var coupon = $("#couponInput").val();
            var orderTotal = "@Model.OrderHeader.OrderTotal";

            var url = "/Customer/Cart/Coupon?coupon=" + coupon + "&orderTotal=" + orderTotal;

            $.ajax({
                url: url,
                type: "GET",
                success: function (response) {
                    // Handle the success response
                    if (response.success) {
                        var discountPrice = response.discountPrice;
                        var newTotal = response.newTotal;

                        // Update the UI with the discounted total
                        $("#discountPrice").text(discountPrice.toFixed(2));
                        $("#newTotal").text(newTotal.toFixed(2));
                    } else {
                        // Handle the error response, such as displaying an error message
                        console.log(response.errorMessage);
                        toastr.error(response.errorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    // Handle the error response, such as displaying an error message
                    console.log(error);
                }
            });
        });
    });
</script>

