@model List<Category>

@{
    Layout = "_AdminLayout";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>  Create New Category
            </a>
        </div>

    </div>


<table class="table table-bordered table-striped"> 
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
            <th>

            </th>
            <th>
                Available/UnAvailable
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model.OrderBy(u=>u.DisplayOrder))
        {
            <tr>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.DisplayOrder 
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id ="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                        </a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash3"></i> Delete
                            </a>
                    </div>
                </td>
                <td>
                        @if (!obj.IsAvailable)
                        {
                            <button onclick="location.href='@Url.Action("Available", "Category", new { id = obj.Id })'" class="w-100 btn btn-lg btn-primary text-white">UnAvailable</button>
                        }
                        else
                        {
                            <button onclick="location.href='@Url.Action("UnAvailable", "Category", new { id = obj.Id })'" class="w-100 btn btn-lg btn-primary text-white">Available</button>
                        }
                    </td>
            </tr>
        }
    </tbody>
    
</table>


</div>